<h1><%= @artwork.title %></h1>
<p><%= @artwork.description %></p>
<p>Prix : <%= number_to_currency(@artwork.price) %></p>
<% if user_signed_in? && @artwork.user == current_user %>
  <%= link_to 'Modifier', edit_artwork_path(@artwork) %>
  <%= link_to 'Supprimer', artwork_path(@artwork), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
<% end %>

<h2>Réservez cette oeuvre</h2>
<%= simple_form_for @booking do |f| %>
  <div class="form-group" data-controller="flatpickr">
    <%= f.label :start_date, "Start Date" %>
    <%= f.text_field :start_date, class: "form-control", placeholder: "Pick a start date" %>
  </div>
  <div class="form-group" data-controller="flatpickr">
    <%= f.label :end_date, "End Date" %>
    <%= f.text_field :end_date, class: "form-control", placeholder: "Pick an end date" %>
  </div>
  <%= f.hidden_field :artwork_id, value: @artwork.id %>
  <%= f.submit "Book Now", class: "btn btn-primary" %>
<% end %>
