<h1><%= @artwork.title %></h1>
<p><%= @artwork.description %></p>
<p>Prix : <%= number_to_currency(@artwork.price) %></p>
<% if user_signed_in? && @artwork.user == current_user %>
  <%= link_to 'Modifier', edit_artwork_path(@artwork) %>
  <%= link_to 'Supprimer', artwork_path(@artwork), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
<% end %>

<h2>Réservez cette oeuvre</h2>

<%= simple_form_for [@artwork, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit %>
  <% end %>
