  <div class="grid">
  <% @artworks.each do |artwork| %>
          <% if artwork.bookings.any? %>
            <div class="booking-cards">
              <% artwork.bookings.each do |booking| %>
              <div class="card">
                <div class="card-body">
                  <h3><%= booking.artwork.title %></h3>
                  <p>Date de début : <%= booking.start_date.strftime('%d/%m/%Y') %></p>
                  <p>Date de fin : <%= booking.end_date.strftime('%d/%m/%Y') %></p>
                  <p>Status : <%= booking.status %></p>
                  <div class="actions">
                    <% if booking.status == 'Pending' %>
                      <%= link_to 'Accepter', accept_booking_path(artwork_id: booking.artwork_id, id: booking.id), data: { turbo_method: :patch } %>
                      <%= link_to 'Refuser', decline_booking_path(artwork_id: booking.artwork_id, id: booking.id), data: { turbo_method: :patch } %>


                    <% end %>
                  </div>

                </div>
              </div>
              <% end %>
            </div>
          <% else %>
            <p>Aucune réservation en cours.</p>
          <% end %>
        <% end %>

  </div>
