<div class="dashboard-container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo">
        <%= image_tag "profile-photo.avif", class: "avatar" %>
      </div>
        <div class="user-info">
      <p><%= current_user.email %></p>
    </div>
      <nav>
        <ul>
          <li><%= link_to 'Accueil', root_path %></li>
          <li><%= link_to 'Mes Réservations', dashboards_path %></li>
          <li><%= link_to 'Déconnexion', destroy_user_session_path, data: { turbo_method: :delete } %></li>
        </ul>
      </nav>
    </aside>

    <!-- Main content -->
    <main class="main-content col-sm-12 col-lg-8">
        <h1>Bienvenue sur votre Dashboard Artbnb</h1>

      <header class="header row mb-3">
        <p>Consultez vos réservations en cours et gérez vos propriétés</p>
      <%= render "shared/usercardgrid" %>
      </header>
        <h2>Réservations en attente de confirmation</h2>

      <section class="header row mb-3">

        <%= render "pendingbookings" %>
      </section>
        <h2>Mes reservations</h2>

            <section class="header row mb-3">

        <%= render "mybookings" %>
</section>


    </main>
  </div>
