<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <%= image_tag "profile-photo.avif", class: "avatar", alt: "Photo de profil" %>
    </div>
    <div class="user-info">
      <p><%= current_user.email %></p>
    </div>
    <nav>
      <ul>
        <li><%= link_to root_path do %>
          <i class="fas fa-home"></i>
          <span>Accueil</span>
        <% end %></li>
        <li><%= link_to "#pending-bookings" do %>
          <i class="fas fa-clock"></i>
          <span>Mes Réservations <br>en Attente</span>
        <% end %></li>
        <li><%= link_to "#my-bookings" do %>
          <i class="fas fa-calendar-check"></i>
          <span>Mes Réservations</span>
        <% end %></li>
        <li><%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
          <i class="fas fa-sign-out-alt"></i>
          <span>Déconnexion</span>
        <% end %></li>
      </ul>
    </nav>
  </aside>
  <!-- Main content -->
  <main class="main-content col-sm-12 col-lg-8">
    <h1>Bienvenue sur votre Dashboard Artbnb</h1>
    <header class="header row mb-3">
      <p>Consultez vos réservations en cours et gérez vos propriétés</p>
      <%= render "shared/usercardgrid" %>
    </header>
    <h2 id="pending-bookings">Réservations en attente de confirmation</h2>
    <section class="header row mb-3">
      <%= render "pendingbookings" %>
    </section>
    <h2 id="my-bookings">Mes réservations</h2>
    <section class="header row mb-3">
      <%= render "mybookings" %>
    </section>
  </main>
</div>
