<div class="dashboard-container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo">
        <%= image_tag "profile-photo.avif", class: "avatar" %>
      </div>
        <div class="user-info">
      <p><%= current_user.email %></p>
    </div>
      <nav>
        <ul>
          <li><%= link_to 'Accueil', root_path %></li>
          <li><%= link_to 'Mes Réservations', dashboards_path %></li>
          <li><%= link_to 'Déconnexion', destroy_user_session_path, data: { turbo_method: :delete } %></li>
        </ul>
      </nav>
    </aside>

    <!-- Main content -->
    <main class="main-content">
      <header class="header">
        <h1>Bienvenue sur votre Dashboard Artbnb</h1>
        <p>Consultez vos réservations en cours et gérez vos propriétés</p>
      <%= render "shared/usercardgrid" %>
      </header>

      <section class="bookings">
        <h2>Réservations en cours</h2>

     <%= render "pendingbookings" %>

    <%= render "mybookings" %>


      </section>
    </main>
  </div>
